html,

body{
    background-color: #77B1BC; /* background colour of site */
    height: 99%;
	max-width: 99%;
    overflow-x : clip;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width : 10px;
}

::-webkit-scrollbar-thumb {
    background : #7A74A7;
}

.body-block{
    display : block;
    float : center;
}


/* --------------------------------------------------------------------------- */
/*  PAGE TEXT */

h1{
    color : #EDFBFF;
    font-family : 'Press Start 2P';
    font-size : 3vw;
    text-align : center;
}

h2,h3{
    color : #7A74A7;
    font-family : 'DotGothic16'
}

h3{
    font-size : 1.5vw;
    text-align : center;
}
/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */
/*  NAV BAR */

.top-nav{
    padding-bottom : 4vh;
}

    /* LOGO  */
    #base-scaling {
        width : 21vmax;
    }

    .base-logo {

        padding-top : 2vh;
    }

    /* NAV BAR ELEMENTS SIZING */
    #nav-scaling{
        width: 3vmax;
        height : 3vmax;
    }

    /* NAV BAR ELEMENTS POSITIONING */

    .left-nav{
        float : left;
        padding-top : 0vh;
        width : 25vw;
    }

    .centre-nav{
        float : center;
        width : 50vw;
    }

    .right-nav{
        float : right;
        width : 25vw;
    }

    .base-about{
        display : inline-block;
        padding-top: 3vmax;
        
    }

    .base-signin{
        display : inline;
        padding-left : 2vmax;
    }

    .base-contact{
        display : inline;
        padding-left : 0vmax;
        
    }

    .base-gallery{
        display : inline-block;
        padding-right: 2vmax;
        padding-top: 3vmax;
    }




/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */
/* GALLERY */

.gallery-table{
    display : block;
    float : center;
    margin-left : 10vw;
    margin-right : 10vw;
}

#gallery-scaling{
    width : 25vw;
    height : auto;
}

.gallery-table-img{
    width : 50vw;
}

.column{
    display : inline-block;
    float : none;
    padding : 2vmin;
}

.column>img{
    width : 80vw;
    display : block;
}

.row{
    display : flex;
}



/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */
/* ABOUT */
.about-text{
    float : center;
    display : block;
    padding-right : 10%;
    padding-left : 10%;
    width : 80%;
}

.about-button{
    width : 50%;
    display : block;
    float : center;
    padding-left : 28%;
    padding-right : 28%;
}

/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */
/* SIGNIN */

.signin-title{
    display : block;
    width : 80%;
    padding-right : 10%;
    padding-left : 10%;
    float : center;
}

.signin-form-div{
    float : center;
    display : block;
    padding-left : 30%;
    padding-right : 30%;
}

.signin-form{
    justify-content : center;
    padding-left : auto;
    padding-right : auto;
}


input[type=text], input[type=password]{
    padding : 1vmax;
    border : 0;
    width : 80%;
    border-bottom : 0.35vmax solid #7A74A7;
    font-family : 'Press Start 2P'; 
    background-color : #77B1BC;
    color : #EDFBFF;
}

/*  styling the inputs when clicked */
input[type=text]:focus, input[type=password]:focus{
    outline: none;
}

.classic-btn{
    background-color : #99b2ad;
    border : 0.35vmax solid #EDFBFF;
    color : #EDFBFF;
    padding : 1vmax;
    font-family : 'Press Start 2P';
    cursor : pointer;
}


/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */
/* CONTACT */
#contact-imgs{
    width : 20vw;
}
/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */
/* FOOTER  */
#footer-scaling {
    width : 99%;
    height: min(15vh, 200px);
}

.base-footer {
    justify-content : center;
    display : block;
    position : fixed;
    bottom : 1vh;

}
/* --------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------- */
/*  RESPONSIVE STUFF */
@media screen and (max-width : 1200px){
    .row{
        padding-left : 20vw;
        padding-right : 20vw;
        flex-direction : column;
    }

    .column{
        width : 50vw;
    }

    #gallery-scaling{
        width : 40vw;
        height : auto;
    }

    h1{
        font-size : 5.5vw;
    }

    h3{
        font-size : 4vw;
    }

    .classic-btn{
        padding : 1.5vmax;
        font-size : 2vmax;
    }

    #contact-imgs{
        width : 40vw;
    }


}
/* --------------------------------------------------------------------------- */

