html,

body{
    background-color: #77B1BC; /* background colour of site */
    height: 95vh;
	width: 95vw;
}

/* LOGO  */
#base-scaling {
    /*width : 1000px;*/
    width : 20vw;
}

.base-logo {
    justify-content : center;
    display : block;
    margin-left : auto;
    margin-right : auto;

}


/* FOOTER  */
#footer-scaling {
    width : 100%;
    height: 18vh;
}

.base-footer {
    justify-content : center;
    display : block;
    position : fixed;
    bottom : 0px;

}