html,

body{
    background-color: #77B1BC; /* background colour of site */
    height: 95vh;
	width: 95vw;
}

/* NAV BAR */

 /* NAV BAR ELEMENTS SIZING */
 #index-nav-scaling{
    width : 3vmax;
    height : 3vmax;
}

/* NAV BAR ELEMENTS POSITIONING */

.top-nav{
    padding-bottom : 25vh;
}

.index-left-nav{
    display : block;
    float : left;
    margin-left : auto;
    margin-right : auto;
    margin-top : -0.5vmax;
}


.index-right-nav{
    display : block;
    float : right;
    margin-left : auto;
    margin-right : auto;
    margin-top : 0.1vmax;
}

.index-about{
    display : inline-block;
    margin-left : 2vmax;
    margin-top : 3vmax;
    padding-right : 2vmax;
    
}

.index-signin{
    display : inline;
    margin-left : auto;
}

.index-contact{
    display : inline;
    margin-left : 0vmax;
    
}

.index-gallery{
    display : inline-block;
    margin-right: 2vmax;
    margin-top: 3vmax;
}



/* LOGO  */
#index-scaling {
    /*width : 1000px;*/
    width : 120vmin;
}

.index-logo {
    justify-content : center;
    display : block;
    margin-left : auto;
    margin-right : auto;

}

/* BUNNY */
#bunny-scaling{
    width : 15vmax;
}

.index-bunny{
    justify-content : center;
    display : block;
    margin-left : auto;
    margin-right : auto;
    margin-top : -150pt;
}


mobile-text{
    display : none;
}
/* --------------------------------------------------------------------------- */
/* MOBILE HOMEPAGE SHTUFF */
@media screen and (max-width : 1200px){
    
    .index-logo{
        display : none;
    }

    .index-bunny{
        float : center;
    }

    .index-mobile{

    }

    #bunny-scaling{
        display : block;
        width : 60vw;
    }

    #index-scaling {
        width : 15vw;
    }

    mobile-text{
        display : block;
        float : center;
        color : #EDFBFF;
        font-family : 'Press Start 2P';
        text-align : center;
        font-size : min(2vw, 40px);
        padding-top : -12vh;
    }

}

/* --------------------------------------------------------------------------- */
