html,

body{
    background-color: #77B1BC; /* background colour of site */
    height: 95vh;
	width: 95vw;
}

/* LOGO  */
#index-scaling {
    /*width : 1000px;*/
    width : 120vmin;
}

.index-logo {
    justify-content : center;
    display : block;
    margin-left : auto;
    margin-right : auto;

}