{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
    ₍ᐢ ̥ ̞ ̥ᐢ₎ ♥ about
{% endblock %}

{% block body_block %}
    <h1>✧ about floppabunny ✧</h1>
    
    <div class = "about-text">
        <h3>
            hai :3 my name is florence but u can call me floppa...... <br>
            i'm a comp sci student & i luv to make jewellery in my spare time to stop my eyes from
            going square because of staring at a screen all day ❕<br>₍ᐢ๑ ̯๑ᐢ₎<br>
            i run floppabunny allll by myself... this means i source my beads, handmake the jewellery & also have made this website from scratch ❕ <br>
            my biggest inspirations for my jewellery are drain gang album covers (333 ♡♡♡), junji ito and death note ❕ ꒰◍ ´꒳` ◍꒱ <br>
        <br>
            if u want to see more of my work, u can find my socials linked below :
        </h3>
    </div>
    >
{% endblock %}