{% extends 'floppa/base.html' %} <!--inherits base.html-->
{% load static %}
<!--title -->
{% block title_block %}
    ₍ᐢ ̥ ̞ ̥ᐢ₎ ♥ gallery
{% endblock %}

{% block body_block %}

    <h1> ╒═══════════════✰° <br>
         my babies  <br>
         °✰═══════════════╛</h1>

    <div class = "gallery-table">
        <div class = "row">
            <div class = "column">
                <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/>
            </div>
            <div class = "column">
                <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/>
            </div>
            <div class = "column">
                <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/>
            </div>
        </div>

        <div class = "row">
            <div class = "column">
                <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/>
            </div>
            <div class = "column">
                <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/>
            </div>
            <div class = "column">
                <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/>
            </div>
        </div>

        <div class = "row">
            <div class = "column">
                <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/>
            </div>
            <div class = "column">
                <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/>
            </div>
            <div class = "column">
                <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/>
            </div>
        </div>
    </div>


{% endblock %}