{% extends 'floppa/base.html' %} <!--inherits base.html-->
{% load static %}
<!--title -->
{% block title_block %}
    ₍ᐢ ̥ ̞ ̥ᐢ₎ ♥ gallery
{% endblock %}

{% block body_block %}
    <div class = "gallery-table">
    	<table>
            <tr>
                <th> <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/> </th>
                <th> <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/> </th>
                <th> <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/> </th>
            </tr>

            <tr>
                <th> <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/> </th>
                <th> <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/> </th>
                <th> <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/> </th>
            </tr>

            <tr>
                <th> <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/> </th>
                <th> <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/> </th>
                <th> <img class = "gallery-table-img" id = "gallery-scaling" src="{% static 'images/placeholder.jpg' %}" alt = "placeholder"/> </th>
            </tr>
        </table>
    </div>

{% endblock %}