<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title> ₍ᐢ ̥ ̞ ̥ᐢ₎ ♥ floppabunny </title>
        <link rel="stylesheet", type="text/css", href="{% static 'index.css' %}"/> <!--calling stylesheet-->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        </style>
    </head>

    <body>
        <div class = "top-nav"> <!-- top navigation bar code below -->
            
            <div class = "index-left-nav">
                <!-- about button -->
                <a href="{% url 'floppa:about' %}">
                    <img class = "index-about" id = "index-nav-scaling" src="{% static 'images/paw.png' %}" alt = "about" />
                </a>

                <!-- signin/signout button -->
                {% if user.is_authenticated %}
				    <!--sign out button if user is logged in, which takes user to signout.html if clicked-->
					<a href = "{% url 'floppa:signout' %}">
					    <img class = "index-signin" id = "index-nav-scaling" src = "{% static 'images/signout.png' %}" alt = "sign out" />
					</a>
                {% else %}
                    <a href = "{% url 'floppa:signin' %}">
                        <img class = "index-signin" id = "index-nav-scaling" src="{% static 'images/signin.png' %}" alt = "sign in" />
                    </a>
                {% endif %}

            </div>  

            <div class = "index-right-nav">
                <!-- gallery button -->
                <a href="{% url 'floppa:gallery' %}">
                    <img class = "index-gallery" id = "index-nav-scaling" src="{% static 'images/photos.png' %}" alt = "gallery" />
                <a/>

                <!-- contact button -->
                <a href="{% url 'floppa:more_floppa' %}">
                    <img class = "index-contact" id = "index-nav-scaling" src="{% static 'images/contact.png' %}" alt = "contact" />
                <a/>
            </div>

            

        </div>

        <div class = "index-mobile">
            <img class = "index-logo" id = "index-scaling" src="{% static 'images/3Dlogo1.png' %}" alt = "logo" />

            <img class = "index-bunny" id = "bunny-scaling" src = "{% static 'images/bunny1.png' %}" alt = "bunny"/>

            <mobile-text> hai !!!! welcome 2 floppabunny <3 </mobile-text>
                
        </div>


    </body>
</html>