<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title> ₍ᐢ ̥ ̞ ̥ᐢ₎ ♥ home page</title>
        <link rel="stylesheet", type="text/css", href="{% static 'index.css' %}"/> <!--calling stylesheet-->
    </head>

    <body>
        <h1>Home page loads ok</h1>

        <div>
            <img class = "index-logo" id = "index-scaling" src="{% static 'images/3Dlogo1.png' %}" alt = "logo"/>
        </div>

        <div>
            <a href="/about/">About</a><br />
            {% if user.is_authenticated %}
				    <!--sign out button if user is logged in, which takes user to signout.html if clicked-->
					<a href = "{% url 'floppa:signout' %}">
					<button class = "index-btn", id ="btnfarright" > sign out</button>
					</a>
            {% endif %}
        </div>
    </body>
</html>