{% extends 'floppa/base.html' %} <!--inherits base.html-->
{% load static %}
<!--title -->
{% block title_block %}
    ₍ᐢ ̥ ̞ ̥ᐢ₎ ♥ more floppa
{% endblock %}

{% block body_block %}
    	<h1> get ur paws on some of my stuff  </h1>

        <h3>
            i currently sell my work on depop, but will be expanding 2 etsy as well in the near future ❕ <br>
            <a href = "https://www.depop.com/floppabunny/"><img id ="contact-imgs" src="{% static 'images/depop.png' %}" alt="depop"></a> <br>
            i also post updates on my instagram ❕ <br>
            <a href = "https://www.instagram.com/floppabunny/"><img id ="contact-imgs" src="{% static 'images/insta.png' %}" alt="insta"></a> <br>
        </h3>

{% endblock %}