{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
    ₍ᐢ ̥ ̞ ̥ᐢ₎ ♥ sign in
{% endblock %}

{% block body_block %}
<div class = "signin-title">
	<h1> ⛧ sign in 2 floppabunny ! ⛧ <br>
		₍՞◌′ᵕ‵◌₎♡</h1>
</div>

<div class = "signin-form-div">
	<!--creating form to log in-->
	<form class="signin-form" method="post" action="{% url 'floppa:signin' %}">
		{% csrf_token %}
		<h2> username: </h2> <input type="text" name="username" value="" size="50" />
		<br />
		<!--user enters password-->
		<h2> password: </h2> <input type="password" name="password" value="" size="50" />
		<br />
		<br>
		</br>
		<!--submit button allows user to log in-->
		<input class= "classic-btn" type="submit" value="submit" />
	</form>
</div>
{% endblock %}